.container1 {
    width: 100vw !important;
    height: 100vh; /* Set the container to take up the full viewport height */
    background-image: url('../../../../assets/img/background.jpg'); /* Path to your background image */
    background-size: 100% 100% !important;
    background-position: center;
    margin: 0% !important;
  }



  