.csvDataTable {
    overflow-x: auto;
  }
  
  .table {
    width: 1000px;
    margin-bottom: 1rem;
    color: #333;
    background-color: transparent;
    border-collapse: collapse;
  }
  
  .table th,
  .table td {
    font-weight: bold;
    color:white;
    text-align: center;
    padding: 1rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
  }
  
  .table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
    font-weight: bold;
    background-color: #f8f9fa;
    color: #495057;
  }
  
  .table tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
  }
  
  .table tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.075);
  }
  .blurred-bg {
    background-color: rgba(255, 255, 255, 0.3); /* Adjust the alpha (last value) for transparency */
    backdrop-filter: blur(5px); /* Apply a blur effect */
  }
  .blurred-bg-chart {
    background-color: rgba(255, 255, 255, 0.7); /* Adjust the alpha (last value) for transparency */
    backdrop-filter: blur(5px); /* Apply a blur effect */
  }
  /* Example row color classes */
  .row-thu {
    font-weight: bold;
    background-color: rgba(37, 82, 109, 0.3);
  }
  
  .row-chi {
    font-weight: bold;
    color: black !important;
    background-color: rgba(95, 22, 90, 0.3);
  }
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh; /* Set sidebar height to viewport height */
    overflow-y: auto; /* Enable vertical scrolling if the content exceeds viewport height */
  }
  
  /* Adjust main content margin to create space for the fixed sidebar */
  .col-md-10 {
    margin-left: 300px; /* Adjust this value to match the width of your sidebar */
  }