<div class="container-fluid h-100">
    <div class="row h-100">
      <!-- Sidebar -->
      <app-navigator></app-navigator>
  
      <!-- Main Content -->
      <div class="col-md-10">
        <div class="container" style="margin-top:3%">
          <div class="row">
            <div class="col-md-4">
              <div class="card border-secondary mb-3">
                <div class="card-header"><h3>Tổng Thu</h3></div>
                <div class="card-body text-secondary">
                  <h5 class="card-title">Total:</h5>
                  <p class="card-text" style="font-weight:bolder;color:rgba(37, 82, 109)">{{ totalExpenses }} VNĐ</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card border-secondary mb-3">
                <div class="card-header" ><h3>Tổng Chi</h3></div>
                <div class="card-body text-secondary">
                  <h5 class="card-title">Total:</h5>
                  <p class="card-text" style="font-weight:bolder;color:rgba(95, 22, 90)">{{ totalChi }} VNĐ</p>
                </div>
              </div>
            </div>
                <!-- Big Text Column -->
                <div class="col-md-4">
                  <div class="d-flex align-items-center justify-content-center">
                    <h1 style="color: white;font-weight: bold; text-align: center; padding-top:10%">THỐNG KÊ<br> THEO THÁNG</h1>
                  </div>
                </div>
          </div>
  
          <div class="row">
            <!-- Chart Column -->
            <div class="col-md-8">
              <div class="blurred-bg-chart" style="width: 800px; height: 400px; margin-bottom: 3%;">
                Biểu đồ Thu/Chi
                <canvas #chart id="expenseChart" width="400" height="200"></canvas>
              </div>
            </div>
  
            <!-- Buttons Column -->
            <div class="col-md-3">
              <div style="display: flex; width: 80%; margin-left:30%; flex-direction: column; height: 400px; justify-content: space-between;">
                <a href="../dashboard" class="btn btn-primary" style="height: 25%; margin-bottom: 5px;">Thống kê Thu Chi</a>
                <a href="../dashboard-week" class="btn btn-primary" style="height: 25%; margin-bottom: 5px;">Thống kê theo Tuần</a>
                <a href="../dashboard-quarter" class="btn btn-primary" style="height: 25%; margin-bottom: 5px;">Thống kê theo Quý</a>
                <a href="../dashboard-category" class="btn btn-primary" style="height: 25%;">Thống kê theo Hạng mục</a>
              </div>
            </div>
          </div>
  
          
          <h2 style="color:white;font-weight: bold;">Thông tin Thu/Chi chi tiết </h2>
          <div class="csvDataTable modern-table ">
            <table class="table blurred-bg">
                <thead>
                  <tr>
                    <th>Ngày</th>
                    <th>Thông tin thu/chi</th>
                    <th>Loại hình thức</th>
                    <th>Tổng chi phí</th>
                    <th>Hạng Mục</th>
                    <th>Tháng</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngFor="let entry of csvData; let i = index">
                    <tr>
                      <td>{{ entry[0] }}</td>
                      <td>{{ entry[1] }}</td>
                      <td [class.row-thu]="entry[2] === 'Thu'" [class.row-chi]="entry[2] === 'Chi'">{{ entry[2] }}</td>
                      <td>{{ entry[3] }}</td>
                      <td>{{ entry[4] }}</td>
                      <td> {{ entry[5] }} </td>
                      <td>
                        <div class="d-flex">
                          <button class="btn btn-primary me-2" (click)="editRow(i)">Edit</button>
                          <button class="btn btn-danger" (click)="deleteRow(i)">Delete</button>
                        </div>
                      </td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
          </div>
          
          
        </div>
      </div>
    </div>
  </div>
  